/* Register.css */
.register-container {
    width: 350px;
    background-color: #ffffff;
    padding: 50px 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.3);
    animation: fadeIn 0.7s;
}

body {
    font-family: 'Arial', sans-serif;
    background: url('D:\Vimarsh\Illinois Institute of Tech\F23\ASE\Project\ASE Project\react-dashboard\public\ase_2.png') center/cover no-repeat, linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    width: 350px;
    background-color: #ffffff;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.3);
    animation: fadeIn 0.7s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #333333;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    color: #333333;
}

input {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.3s ease;
}

input:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

button {
    width: 90%; /* Decreased width to 90% to make button appear smaller */
    padding: 10px;
    margin: 0 auto; /* Centers the button horizontally */
    display: block; /* Allows the button to take advantage of margin auto for centering */
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px; /* Reduced font size slightly for button */
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #004499;
}

/* Add this to your Register.css */
.back-to-login {
    margin-top: 10px;
    background-color: #6c757d; /* Different color for distinction */
    color: white;
}

.back-to-login:hover {
    background-color: #5a6268;
}
